
@font-face {
  font-family: 'AmbleRegular';
  src: url('Amble-Light.eot?#iefix') format('embedded-opentype'),  url('Amble-Light.woff') format('woff'), url('Amble-Light.ttf')  format('truetype'), url('Amble-Light.svg#Amble-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
